{% extends 'users/admin_dashboard.html' %}

{% block content %}

    <h1>Update Doctor</h1>

    <form method="POST">

        {% csrf_token %}

        <input type="text"
               name="name"
               value="{{ doctor.name }}">

        <br><br>

        <input type="text"
               name="specialization"
               value="{{ doctor.specialization }}">

        <br><br>

        <input type="text"
               name="phone"
               value="{{ doctor.phone }}">

        <br><br>

        <button type="submit">
            Update
        </button>

    </form>

{% endblock content %}